@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

:root {
  //Set color scheme
  --clr-primary: #faf1ed;
  --clr-secondary: ;
  --clr-accent: rgb(0, 96, 223);

  --clr-circlePurple: #390040e5;
  --clr-circlePink: rgba(255, 105, 180, 0.712);
  --clr-circleRed: rgb(187, 44, 44);


  --clr-font-main: rgb(61, 60, 60);
  --clr-font-light: rgb(128, 128, 128);

  --font-size-h1: 3rem;
  --font-size-text: 1.5rem;
  --font-size-h2: 1.7rem;

  --spacing: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  //margin: var(--spacing);
  //margin-bottom: 0!important;
}

a:visited {
  color: unset;
}
