.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem 2rem;
  padding: 2rem 1.5rem;
  background-color: var(--clr-primary);
  color: white;
  margin-block: 1rem;
  position: relative;
  overflow: hidden;
}

.heading {
  z-index: 1;
}

.leftArrow, .rightArrow {
  cursor: pointer;
  font-size: 3rem;
  transition: .3s;
  z-index: 1;
  color: white;
}

/* .leftArrow:hover, .rightArrow:hover {
  font-size: 3.3rem;
  transition: .3s;
} */

.datesWrap {
  display: flex;
  align-items: center;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: .5em;
  list-style: none;
  z-index: 1;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    span{
      line-height: .85;
    }

    .inactive {
      background-color: #ebe0e092;
      padding: .3rem .6rem 1rem .6rem;
      border-radius: .6rem;
      margin-top: .3em;
    }

    .active {
      background-color: white;
      color: black;
      padding: .3rem .7rem 1rem .7rem;
      border-radius: .6rem;
      margin-top: .3em;
    }
  }
}

//circles
.circle {
  border-radius: 50%;
  position: absolute;
}

.blue {
  width: 500px;
  height: 500px;
  background-color: var(--clr-circleBlue);
  top: 0;
  left: -80px;
}
 
.red {
  width: 250px;
  height: 250px;
  background-color: var(--clr-circleRed);
  right: -10px;
  bottom: -100px;
}

.pink {
  width: 150px;
  height: 150px;
  background-color: var(--clr-circlePink);
  top: 0;
  right: -40px;
}
