.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 1.5rem;
  padding: 2rem 2rem;
  background-image: url(background2.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
}

.heading {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  .arrows {
    display: flex;
    gap: .9em;
    cursor: pointer;
    font-size: 1.3em;
  }

  .leftArrow:hover, .rightArrow:hover {
    font-weight: 700;
  }

}

.dates {
  display: flex;
  justify-content: space-between;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inactive {
      background-color: #ebe0e092;
      padding: .3rem .7rem 1rem .7rem;
      border: transparent ;
      border-radius: .5rem;
      cursor: pointer;
    }

    .active {
      background-color: white;
      color: black;
      padding: .3rem .7rem 1rem .7rem;
      border-radius: .5rem;
      cursor: pointer;
    }
  }
  
  
}
