.footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: var(--font-size-h2);
  padding-block: .5em;
  background-color: #eee;
  box-shadow: 0px -1px 3px 0px rgba(89, 89, 89, 0.213);

  .fooLink, .fooLink:active {
    display: flex;
    align-items: center;
    color: black;
  }

  .icon {
    cursor: pointer;
    color: black;
  }
}

.addIcon {
  font-size: 1.6em;
}

.backIcon {
  color:black;
  font-size: 1.3em;
}

.addIcon:hover, .icon:hover, .backIcon:hover {
  color: var(--clr-accent);
}
