.footer {
  display: flex;
  width: calc(100vw - var(--spacing));
  justify-content: space-around;
  align-items: center;
  font-size: var(--font-size-h2);
  padding-block: .5em;

  .icon {
    cursor: pointer;
  }
}

.addIcon {
  font-size: 1.5em;
  cursor: pointer;
}