.ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
}

/* Works on Firefox */
.ul {
  scrollbar-width: thin;
  scrollbar-color: darkgray lightgray;
}

/* Works on Chrome, Edge, and Safari */
.ul::-webkit-scrollbar {
  height: 0.5rem;
}

.ul::-webkit-scrollbar-track {
  background: lightgray;
}

.ul::-webkit-scrollbar-thumb {
  background-color: darkgray;
}
