.container {
  min-width: 220px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: transparent;
  border-radius: 1rem;
  background-color: rgba(239, 207, 244, 0.854);
  padding: .8rem;
  margin-bottom: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .icon {
    font-size: 2.8rem;
    width: 2.8rem;
  }

  .summary {
    display: flex;
    flex-direction: column;

    .freq {
      font-size: medium;
      color: gray;
      font-style: normal;
    }
  }

}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem
}

.count {
  font-size: large;
  font-weight: 600;
}

h1 {
  margin-block: 1rem;
}

input {
  height: 1.5rem;
  width: 1.5rem;
}
