.main {
  color: var(--clr-font-main);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 940px;
  width: 90%;
  font-size: var(--font-size-text);
  margin-top: var(--spacing);

  h1 {
    margin-bottom: 1rem;
  }
}

.habits {
  margin-bottom: 1rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  h2 {
    margin-bottom: 1rem;
  }

  .seeMoreLink {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-accent);
    font-size: smaller;
    cursor: pointer;
    transition: .3s;
  }

  .seeMoreLink:hover {
    font-size: x-large;
    transition: .3s;
  }
}

