.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 940px;
  width: 90%;
  font-size: var(--font-size-text);
  margin-top: var(--spacing);
}

.habits {
  margin-bottom: 1rem;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  .more {
    display: inline-block;
    text-decoration: none;
    color: rgb(45, 45, 118);
    font-size: smaller;
  }
}

h1, h2 {
  margin-bottom: 1rem;
}
