.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  h2 {
    margin-bottom: 1rem;
  }
}

.stats {
  display: flex;
  justify-content: center;
  
  .weekly {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(181, 179, 179);
    min-height: 8rem;
    min-width: 8rem;

    span {
      font-size: .7em;
    }

    em {
      color: #0060df;
      font-style: normal;
    }
  }
}