.dateWrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 940px;
  width: 90%;
  font-size: var(--font-size-text);
  margin-block: var(--spacing);

  h1 {
    margin: .8rem 0 1.3rem 0;
  }
}

.habitsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  li {
    max-width: 940px;
    width: 100%;
  }
}
