.more {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 940px;
  min-width: 80vw;
  margin-block: 2rem;

  h1 {
    margin-bottom: 1.5rem;
  }
}

.habitFilter {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-block: 1.5rem;

  label {
    font-size: 1.3rem;
    display: flex;
    gap: 5px;
  }
}

.habit {
  list-style: none;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 1em;
  color: var(--clr-font-main);
  display: flex;
  flex-direction: column;
  gap: .5rem;

  p {
    font-size: larger;
  }

}