.wrapper {
  position: relative;
  width: 100%;
  //Temporary to have footer in place
  min-height: calc(100vh - 70px);
  font-size: var(--font-size-text);
  background-color: var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 80vw;
  overflow-x: hidden;

  .miniWrapper {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      flex-direction: column;
      gap: 1em;
      color: rgb(61, 60, 60);
      margin-bottom: 2rem;
      padding: 1.5em;
    }

    main {
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 1em;
      border-radius: 35px 35px 0 0;
      padding-inline: 1.5em;
      padding-top: 2em;
    }
  }
}

.labInp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6em;

  .firstInput {
    width: 100%;
    padding-left: .5em;
    border-bottom: 1px solid rgb(144, 142, 142);
    font-weight: 600;
  }
}

.frequency {
  display: flex;
  flex-direction: column;

  .freqUl {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    list-style: none;
  }

  .freqLi {
    padding: .4em 1em;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--clr-primary);
    
  }
}

/* h2 {
  font-weight: 500;
  font-size: 1.3rem;
  color: grey;
  margin-bottom: 1rem;
} */

.catWrapper {

  .categoryParent {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
  
    .categories {
      display: flex;
      gap: .5em;
      list-style: none;
      flex-wrap: wrap;
      
      li {
        padding: .4em 1em;
        border-radius: 10px;
      }
    }
  }
}

.addCategory {
  display: flex;
  align-items: center;
  padding: .4em 1em;
  border-radius: 15px;
  background-color: #f6d4afeb;
  gap: .3em;
  cursor: pointer;

  .addIcon {
    color: #ff9c33;
    font-size: 1.3em;
  }
}


.btn {
  padding: .4em 1em;
  height: 2.5em;
  background-color: rgb(38, 38, 125);
  color: white;
  font-size: large;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  font-size: var(--font-size-text);
  margin-bottom: 1.5em;
  margin-top: .5em;
  cursor: pointer;
}

// circles

.circle {
  --size: 300px;
  position: absolute;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
}

.blue {
  background-color: var(--clr-circleBlue);
  top: -100px;
  right: -150px;
}

.pink {
  background-color: var(--clr-circlePink);
  top: -200px;
  right: 0px;
}