.display {
  display: block;
}

.hide {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.708);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modalWrap {
  background-color: rgb(246, 243, 243);
  width: 80vw;
  height: 60vh;
  border-radius: 25px;
  color: var(--clr-font-main);
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  position: relative;
  font-size: var(--font-size-text);
}


.labInp {
  display: flex;
  align-items: center;
  gap: .6em;

  .catInput {
    width: 100%;
    padding: .7em .3em;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(144, 142, 142);
    font-size: var(--font-size-text);
    color: var(--clr-font-main);
  }
}

.catColors, .icons {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  list-style: none;
}
.colorDiv {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

.iconPic {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.catBtn {
  padding: .5em;
  background-color: rgb(38, 38, 125);
  color: white;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 15px;
  margin-top: 1em;
  cursor: pointer;
}

/* .circle {
  --size: 200px;
  position: absolute;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
}

.blue {
  background-color: var(--clr-circleBlue);
  bottom: -130px;
  left: 30px;
}

.pink {
  background-color: var(--clr-circlePink);
  bottom: -90px;
  left: -50px;
}
 */